<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>regisServlet</servlet-name>
        <servlet-class>servlet.regisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNumberServlet</servlet-name>
        <servlet-class>servlet.addNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>regisServlet</servlet-name>
        <url-pattern>/regis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNumberServlet</servlet-name>
        <url-pattern>/addNumber</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>regis.jsp</welcome-file>
    </welcome-file-list>
</web-app>
